<!DOCTYPE html>
<html>
<head>
	<meta charset="gbk">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="data-spm" content="a3132"/>
	<title>我的农村淘宝</title>
</head>
<body>
	$screen_placeholder
</body>
</html>