<link rel="stylesheet" href="$!frontServer/admin/pages/coupon-list/coupon-list.css">
<div class="mc-main">
    <div class="grid-1190 clearfix">
        <div class="mc-main-aside">
            ## left menu position
            $control.setTemplate("my/asideMenu").setParameter("currentIndex","coupon")
        </div>
        <div class="mc-main-wrap">
            <div class="coupon-main">
            	<div class="coupon-header">
            		<div class="title">
            			使用代金券<span class="sub-title">一张代金券只能对一件已付款的订单商品使用</span>
            			<a href="javascript:void(0);" class="btn-rule action">使用规则</a>
            		</div>
            		<div class="coupon-action">
            			<span>
            				订单号: <input id="couponOrderId" class="coupon-input" type="text" placeholder="请输入订单号" />
            			</span>
            			<span class="ml10">
            				代金券编码: <input id="couponId" class="coupon-input" type="text" placeholder="请输入代金券编码" />
            			</span>
            			<span class="ml10">
            				<a class="btn-coupon btn" href="javascript:void(0);">
		            			确认使用
		            		</a>
            			</span>
            		</div>
            	</div>
            	<div class="coupon-list">
            		<div class="title">
            			使用记录
            		</div>
            		<table id="tb-list" class="tb-list" border="1">
			            <thead>
			                <tr>
								<th width="230px">订单号</th>
								<th width="70px">价格(元)</th>
								<th width="120px">代金券金额(元)</th>
								<th width="180px">代金券结算金额(元)</th>
								<th width="230px">使用时间</th>
								<th>操作</th>
			                </tr>
			            </thead>
			            <tbody class="js-tbody">
			            </tbody>
			        </table>
			        <div id="pagination-wrap" class="clearfix"></div>
            	</div>
            	<div id="rule-content" style="display:none;">
            		$!securityUtil.ignoretext($tmsTool.importRgn("/rgn/cun/cunadmin/coupon-rule.php",1,true))
            	</div>
            </div>
        </div>
    </div>
</div>
<script>
KISSY.use('admin/pages/coupon-list/coupon-list', function(S, App){
	new App();
});
</script>
