<h3 >阿里巴巴农村淘宝项目“农村淘宝合伙人”管理规定</h3>
<p style="display:block;text-align: center;color:gray; margin-top: 20px">版本号：1.0  发布日期：2015.06.25</p>
<h4>欢迎加入农村淘宝项目！ </h4>
为便于您清楚了解村级服务点的运营管理要求、确保村级服务点的服务质量和效果，特制定以下行为规则，请认真阅读并严格遵守。<br/></br>

<p>
<strong>第一条</strong>
为维护阿里巴巴农村淘宝项目（以下简称“项目”）的正常运营，指导和规范农村淘宝合伙人（以下简称“合伙人”）的经营活动，确保村级服务点的服务质量和效果，保障广大农村居民的合法权益，阿里巴巴（中国）软件有限公司（以下简称“阿里巴巴”）特制定本管理规定。
</p>

<p>
<strong>第二条	</strong>
本管理规定作为合伙人与阿里巴巴签署的《合作协议》的补充，与《合作协议》具有同等效力。如本规定的相关内容与《合作协议》有关内容不一致的，阿里巴巴有权根据相较更为严格的约定或规定进行处理，合伙人对此不持异议。<br/>
</p>

<p>
<strong>第三条 </strong>
农村淘宝合伙人主要负责在阿里巴巴协助下，为村级服务点当地居民提供商品代购、暂存与代收发等服务；合伙人并应做好居民关系的维护，提升阿里巴巴农村淘宝项目在当地的影响力和知名度，协助阿里巴巴推进和完善项目。<br/>
</p>

<p>
<strong>第四条 </strong>
所有农村淘宝合伙人均需经过阿里巴巴的面试、实地考察等评估程序，与阿里巴巴签订《合作协议》，并按合作协议约定缴纳相应保证金。<br/>
</p>

<p>
<strong>第五条 </strong>
合伙人需正确使用和妥善保管阿里巴巴所提供的物资，不得恶意毁损、随意丢弃。<br/>
</p>

<p>
<strong>第六条 </strong>
合伙人应有良好的服务意识，及时、准确、妥善地处理居民提出的咨询、代购、款项代收代付、商品暂存等服务需求。<br/>
</p>

<p>
<strong>第七条 </strong>
合伙人须按时接受阿里巴巴提供的培训，不断提升服务能力。<br/>
</p>

<p>
<strong>第八条 </strong>
合伙人还应遵守其与阿里巴巴关联公司签署的其他协议，包括但不限于淘宝网相关规则、支付宝账户使用相关规则等。<br/>
</p>

<p>
<strong>第九条 </strong>
阿里巴巴有权根据村服务站运营数据统计、不定期抽查、投诉情况处理等的结果，对合伙人的运营能力进行考核并根据考核结果对合伙人做出警告、暂停合作、清退等的处理；违规情节特别严重的，阿里巴巴有权将其违规行为公布于农村淘宝网站或其他媒体，并永久禁止开展任何形式的合作。<br/>
</p>

<p>
<strong>第十条 </strong>
阿里巴巴对农村淘宝合伙人的考核，自本规则发布或合伙人所在村级服务站开通后的首个或次月1日起算，以二者中较晚者为准。具体为：本规则发布前已开业的，自本规则发布之日开始考核；本规则发布后开业、且开业日在当月15日前的（含本数），次月1日起开始考核；当月15日后开业的，隔月1日起开始考核。<br/>
</p>

<p id="eleven">
<strong>第十一条 考核开始后，合伙人有如下行为的，阿里巴巴有权将予以清退：</strong>
</p> 

<ol>
<li>一个自然周内连续有效订单（即完成线上付款并确认收货的订单，不含虚拟产品，如Q币，话费，下同）为零、或一个自然月内累计15天有效订单为零的，但因自然灾害、突发疾病、物流封仓等特殊情况导致无法正常运营的除外；<br/></li>
<li>连续两个自然月内有效订单金额为本县域倒数5%的、或一个自然年内有三个自然月的有效订单金额都处于本县域倒数5%的、或最近两个月日均有效订单均小于3单；</li>
<li>有不诚信行为的，包括但不限于欺诈、私吞货物、与卖家串通刷单、骗佣、与其他合伙人恶意竞争、违反合作协议等与阿里巴巴及/或其关联公司签署的相关协议的；</li>
<li>一个季度内被服务居民投诉且成立达三次及以上的；</li>
<li>有其他有违其运行管理职责之情形经阿里巴巴书面通知后10个工作日内未有改善的。</li>
</ol>

<p>
<strong>第十二条 </strong>
阿里巴巴有权对合伙人的行为及适用的规定进行单方认定，并据此处理。合伙人对阿里巴巴作出的违规处罚决定不服的，可向县服务中心负责人员提起申诉。
<br/>
</p>

<p>
<strong>第十三条 </strong>
合伙人主动申请退出或被清退的，均应立即停止以农村淘宝合伙人名义进行任何商业活动，并应依照阿里巴巴要求妥善处理物资交还、未完结服务处理、赔偿责任承担等相关事宜<br/>
</p>

<p>
<strong>第十四条 </strong>
合伙人主动申请终止合作且无其他违规情形的，自退出之日起90天内不得重新申请准入；合伙人如违反第十一条第3点，阿里巴巴有权永久禁止其申请准入。<br/>
</p>

<p>
<strong>第十五条 </strong>
为项目实施需要，阿里巴巴将为所有村级服务站设置唯一的网点编号，并将该编号及相应的农村淘宝合伙人信息以适当方式向社会公众公开，合伙人对此不持异议。<br/>
</p>

<p>
<strong>第十六条 </strong>
本管理规定自发布之日生效。阿里巴巴有权以单方书面通知形式调整本管理规定，更新内容以通知载明之日生效。</br>
</p>

<div class="contentfoot"></div>