<h3 style="text-align: center;">退出协议</h3>
<h5 style="text-align: center;">发布/修订日期：2015年3月20日版</h5>
<h4>【签约提示】 </h4>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本协议缔约方为阿里巴巴（中国）软件有限公司（简称“阿里巴巴”）与淘宝网用户（简称“您”）。<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请您仔细查看本协议的全部内容，一旦您点击“确认”或虽未点击但实际已使用阿里巴巴协助，即表明您已同意并接受全部协议内容，协议即生效。<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您理解并同意，为提升项目运营效率等原因，阿里巴巴可对本协议内容进行单方面的补充和（或）变更，同时阿里巴巴将在农村淘宝网站（cun.taobao.com）公告，不再单独通知予您；如果您在公告变更后继续使用阿里巴巴协助，即表示您愿意接受修改后的内容；若您不同意，须停止使用阿里巴巴协助，并向阿里巴巴提交协议终止申请。<br/>
</p>
<h4>【协议条款】</h4>
<h4>第一条    概念解释</h4>
1、村级服务点：指由您申请并经阿里巴巴审核同意的服务网点，您将通过该村点为所辖范围内居民提供农村淘宝网站商品代购、暂存与代收发等服务，具体服务内容包括但不限于：<br/>
1.1 商品信息咨询（如品牌推荐、同类比价、促销活动介绍等）<br/>
1.2 在线购买商品技术支持<br/>
1.3 商品收发物流信息咨询及联络沟通服务<br/>
2、阿里巴巴协助：指为支持您所在的村级服务点的运行，阿里巴巴根据实际情况向您提供的各项协助的统称，主要包括淘宝网账户相关咨询、服务费的代为结算及支付、村级物流服务网络搭建、阿里巴巴物资支持、村级服务点的统一形象包装及相关推广宣传、村级服务点人员的服务技巧培训等。<br/>
3、阿里巴巴物资：指村级服务点运行必备的电脑、显示屏等物资及/或阿里巴巴配备的统一装修、布置及宣传物料等。<br/>
4、服务费：指就商品或服务的成交（以“确认收货”为准，但事后发生退货则需扣除），卖家自愿按商品或服务价格的一定比例向您支付的代购、暂存与代收发等服务费用。该服务费由阿里巴巴代您向卖家收取并依据本协议约定代卖家向您支付。<br/>
5、保证金：您须在本协议生效后的10个工作日内，在约定的支付宝账户中存入人民币1000元（大写：人民币壹仟元整）作为保证金；协议期间，阿里巴巴有权对该保证金做止付处理，如协议期间您发生违约，阿里巴巴有权直接扣除相应款项作为违约赔偿款，同时您应在3个工作日内补足。本协议终止后的30日内，在双方费用结算完结的情况下，上述保证金余额可予解除止付。<br/>
<h4>第二条    各方权益</h4>
1、阿里巴巴负责依照本协议约定提供相应的阿里巴巴协助。<br/>
2、阿里巴巴有权对您运行村级服务点的行为进行监督、检查和管理，并对您提出相应的改进建议和要求。<br/>
3、您确认，阿里巴巴有权代表您与卖家等签署《淘宝客推广软件产品使用许可协议》或其他类似协议，并选择所推广的商品或服务；您同意基于您提供本协议项下服务所获知的村级服务点所在地居民的购买意向等，向阿里巴巴提出推广商品或服务选择的合理建议。<br/>
4、为便于您履行本协议，阿里巴巴可不定时地协调关联公司为您提供相关产品或服务（下称“便利产品或服务”）；该等便利产品或服务的具体使用方式及规则等由您与阿里巴巴关联公司另行确认，但阿里巴巴有权根据实际需要通知阿里巴巴关联公司调整该等便利产品或服务的使用期限。同时，您理解并同意，便利产品或服务使用以本协议有效存续为前提，本协议发生中止、终止的，相应便利产品或服务协议立即中止或终止。<br/>
5、您提供的服务专用场所使用面积不应小于6平方米，并接受阿里巴巴的标准化布置。合作期内，您须负责服务场所的日常维护，并保证不挪作它用。<br/>
6、村级服务点的网络宽带费用等日常运营费用需由您承担，且宽带速度需在4兆以上（含本数）。<br/>
7、您应正确使用和妥善保管阿里巴巴物资，不得用于本协议约定外的其他用途。如阿里巴巴物资投入使用后3个月内发生自然损毁的，阿里巴巴负责维修使之恢复原状或达到原定可使用状态，但如系您原因造成(包括但不限于故意损坏、过失损坏、保管使用不当等），则您负责维修使之恢复原状或达到原定可使用状态或按原价赔偿；投入使用满3个月后，您应自行负责阿里巴巴物资的维修、保管。本协议终止后，您应立即交还阿里巴巴物资，如发生遗失、损坏等应照价赔偿。同时，除质量问题外，保管使用期间，您应自行承担阿里巴巴物资的安全责任（自身或他人人身或财产损害责任）。<br/>
8、您应负责妥善保管代收款项及相关商品，不得挪作他用，应建立代收款项和暂存商品名录并负责联络居民尽快结算签收。<br/>
9、您须按时接受阿里巴巴提供的培训，如需收费，阿里巴巴将事先告知。<br/>

<h4>第三条    您承诺与保证</h4>
1、您确认，您向阿里巴巴提交的全部信息、资料均真实、合法、有效、不侵犯任何人合法权益；如您填报的信息、资料发生变更，应在一个工作日内书面告知阿里巴巴，否则应自行承担相关损失。<br/>
2、您保证遵守阿里巴巴的各项村级服务点管理规定，按要求使用阿里巴巴协助、提供服务、保管和使用阿里巴巴物资、接受培训等。<br/>
3、您确认，作为村级服务点的服务提供者，您与阿里巴巴无雇佣、代理、合伙、委托等任何形式的特殊关系；您应向所在村级服务点居民在内的第三方表明独立身份，并自行承担就服务提供所造成的第三方损失或索赔、任何行政部门的调查、处罚等全部法律责任。<br/>
4、为履行本协议，您需了解与此有关的阿里巴巴及/或其关联公司信息的，应以书面形式向阿里巴巴提出申请。对经申请获取的信息，未经阿里巴巴事先书面同意，您不得进行使用或对外披露。 <br/>
5、您不得利用本协议项下服务及/或与阿里巴巴的合作关系从事任何损害阿里巴巴、其他用户利益的行为，包括但不限于以阿里巴巴名义获取商业利益等。<br/>
6、本协议期间及本协议终止后的6个月内，未经阿里巴巴的书面许可，您不得从事与阿里巴巴业务相竞争或类似的业务或为其他第三方提供与本协议相同或近似的服务。<br/>
7、您不得向阿里巴巴及/或其关联公司之员工、顾问提供任何形式的不正当利益（包括但不限于提供财物、消费、款待等）。<br/>
8、未经阿里巴巴同意，您不得自行转让本协议项下的权利义务，不得变更或自行开发新的服务网点。<br/>
<h4>第四条    服务费结算和支付</h4>
1、	除本协议或双方另有约定外，阿里巴巴在每月21日开始结算上个结算周期（如无特殊约定，结算周期以自然月为结算单位）的代收服务费，并在结算完毕后的次月20日前将经确认的全部服务费支付至您注册时所绑定的支付宝账户（如遇节假日则相应顺延）。<br/>
2、	您理解并同意，您是服务费的收入方，卖家是服务费的支付方，阿里巴巴是服务费的代收代付方。根据相关法律法规规定，您应自行承担相应的纳税义务和申报义务。<br/>
3、	您知晓并同意，如本协议修订前双方存在未结算完毕的费用等，均按本协议约定结算。<br/>

<h4>第五条    违约与解除</h4>
1、若阿里巴巴逾期支付您服务费超过30日的，则自第31日起每逾期一日向您支付应付未付部分万分之五的违约金，但因您的原因造成除外。<br/>
2、协议期内，当您出现以下情形的，阿里巴巴有权立即终止本协议：<br/>
2.1您连续三个月不能完成服务考核基础指标；<br/>
2.2您一个季度内被阿里巴巴抽查巡视发现有不诚信行为或被服务居民投诉达三次及以上；<br/>
2.3您在本协议签订后10个工作日内，未能依约存入保证金；<br/>
2.4 您违反本协议第三条第5、6、7款情形的；<br/>
2.5您有其他违反本协议之情形，经阿里巴巴书面通知后10个工作日内未有改善的；<br/>
2.6您因违反阿里巴巴及/或其关联公司相关规则、被关闭本协议项下的淘宝网账号的。<br/>
3、协议期内，如您欲提前终止本协议，需至少提前1个月向阿里巴巴提出申请。<br/>
4、自您申请解除本协议或出现上述可能导致本协议终止的违约情形时，阿里巴巴将暂停结算服务费，并采取以下措施：<br/>
4.1 您应依照阿里巴巴指示返还全部阿里巴巴物资，如有损坏或遗失，您应负责维修使之恢复原状或达到原定可使用状态或按原价赔偿；<br/>
4.2 因您申请提前解除协议或违约给阿里巴巴及/或其关联公司（包括但不限于向您提供便利产品或服务的阿里巴巴关联公司）造成损失的，您应负责赔偿。<br/>
5、您理解并同意，协议终止事宜处理完毕前，阿里巴巴有权通知支付宝（中国）网络技术有限公司对您的支付宝账户余额及及关联快捷银行卡内资金做款项止付处理；阿里巴巴并有权自您支付宝账户中（不仅限于本协议项下保证金）直接扣除相应赔偿金，不足部分您应予补足。<br/>
6、因不可抗力因素（如战争，地震，瘟疫，动乱，国家政策有重大变化等），造成双方无法继续执行本协议时，本协议自行终止，双方互不承担违约责任。<br/>

<h4>第六条    协议期限</h4>
1、本协议有效期一年，自您首次确认本协议时起算。协议到期前30天，双方均未提出异议的，则本协议自动延续一年，并以此类推。<br/>

<h4>第七条    其他</h4>
1、本协议取代双方就有关本协议所载任何事项于先前以口头及书面达成的共识。<br/>
2、您理解并同意，因阿里巴巴经营策略调整等原因，可将本协议项下的全部或部分权利义务转让予其关联公司（关联公司的范围由阿里巴巴指定），转让事宜以书面、网站公告、邮件等方式之一送达您之日起生效。<br/>
3、本协议适用中华人民共和国大陆地区法律。协议履行过程中发生争议，由双方友好协商解决，协商不成的，将由阿里巴巴住所地人民法院管辖。<br/>
4、与本协议有关的服务管理规则、运营指导手册等，均是本协议内容的组成部分，与本协议具备同等法律效力。<br/>
5、本协议未尽事宜，以淘宝网相关规则为准。<br/>